@media ( max-width: 1200px )
  .container
    max-width: 960px
@media ( max-width: 992px  )
  .container
    max-width: 700px
  .navbar
    &__search
      margin-left: 43px
    &-menu
      padding-top: 23px
      padding-bottom: 22px
      justify-content: space-around
      &__link
        font-size: 12px
        line-height: 13px
    &-top
      padding-top: 29px
      padding-bottom: 30px
  .search
    &__input
      max-width: 340px
      padding-left: 23px
  .logo
    width: 132px
    &__image
      width: 132px
@media ( max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      width: 16px
      height: 11px
      border: none
      padding: 0
      &__line
        width: 16px
        height: 1px
        background-color: #333333
  .hotel

    &-name
      flex-basis: 100%
    &-info
      &__raiting
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__text
        width: 100%
    &-wrapper
      justify-content: space-between
  .stars
    flex-basis: 15%
@media  ( max-width: 576px  )
  .container
    max-width: 320px
  .stars
    flex-basis: 20%
@media ( max-width: 320px )
  .container
    max-width: 90%
  .navbar-top
    padding-top: 23px
  .logo
    &__image
      width: 99px
  .stars
    flex-basis: 35%
